* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.first {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: url(https://assets.codepen.io/162656/mountain-full.jpg) no-repeat
    center/cover;
  display: grid;
  place-items: center;
  background-blend-mode: multiply;
}
.first > *,
section {
  transition: 0.6s;
}
.first > * {
  grid-area: 1/1;
  width: 100%;
  padding: 0 20px;
}
.sticky .first {
  height: 90px;
  background-color: blueviolet;
}
.page-header {
  opacity: 0;
  visibility: hidden;
}
.sticky .first h1 {
  opacity: 0;
  visibility: hidden;
}
.sticky .first .page-header {
  opacity: 1;
  visibility: visible;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
nav .logo {
  font-size: 36px;
  color: rgb(255, 255, 255);
}
nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
}
nav ul a {
  font-size: 24px;
  color: white;
  text-decoration: none;
}
.second {
  /* position: relative; */
  padding-top: 100vh;
}
.sticky .second {
  padding-top: 100px;
}
.second p {
  padding: 30px 0;
}
.container {
  max-width: 1000px;
  max-width: 0px auto;
  padding: 20px;
}
